<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<title>CharityBidder</title>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="js/bootstrap.js") }}" rel="stylesheet">
	</head>
	<body>
		<div align="center">
			<h1>Charity Bidder</h1>
		</div>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        
	      </div>
	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	          <li><a href="/">Home</a></li>
	          <li class="active"><a href="browse">Browse</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	        	{% if user == None: %}
	        	<li><a href="signin">Sign In</a></li>
	        	{% else: %}
	        	<li><a href="profile">My Profile</a></li>
	        	{% endif %}
	        </ul> 
	      </div>
	    </div>
    </nav>
    <div class="container">
    	<div class="col-md-4">
		<img height="400px" width="300px" src= {{item.pic}}>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
              		<div class="panel-heading">
                	<h3 class="panel-title"> {{item.title}} </h3>
              		</div>
			<div class="panel-body">
			
			<p> Current Bid: {{item.currentbid}}
			<div class="col-md-6">
				<input class="form-control input-sm" id = "bid" type="text" placeholder="Enter Bid">
			</div>
			<div class="col-md-6">
				<button type="button" id = "submit" class="btn btn-primary btn-md">Place Bid</button>
			</div>
			<div class="col-md-12">
				<p> Details: {{item.description}}
			</div>
			</div>
		</div>
	</div>
    </div>
    <script>
		$( "#submit").click(function(e) {
			var b= $( "#bid" ).val();
    		
    		
    		
 		$.ajax({
            url: "/updatebid",
            type: "POST",
            
            data: { bid: b, id :{{item.id}} },
            success: function(data) {
				alert(data);
				if(data == "Too low")
				{
					window.location.href="";
				}
				else if(data == "Please signin")
				{
					window.location.href="/signin";
				}
				else
				{
					window.location.href="/browse";
				}
            }
        });
  });
</script>
	</body>
</html>
