<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<title>CharityBidder</title>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="js/bootstrap.js") }}" rel="stylesheet">
	</head>
	<body>
		<div align="center">
			<h1>Charity Bidder</h1>
		</div>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        
	      </div>
	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	          <li class="active"><a href="/">Home</a></li>
	          <li><a href="browse">Browse</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	        	{% if user == None: %}
	        	<li><a href="signin">Sign In</a></li>
	        	{% else: %}
	        	<li><a href="profile">My Profile</a></li>
	        	{% endif %}
	        </ul> 
	      </div>
	    </div>
    </nav>
    <div class="container">
    	<div align="center">
    		<h2>Welcome to Charity Bidder!</h4>
    		<p><b>Where you can sell and bid on things to raise money for charity organizations</b></p>
    		<h3>Select Organizations:</h3>
    	</div>
    </div>
    <hr>
    <div align="center">
    	<h2>Current Hot Bids:</h2>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thread>
            <tr>
              <th>Picture:</th>
              <th>Title:</th>
              <th>Organization:</th>
              <th>Current Bid:</th>
              <th>Details & Bidding:</th>
            </tr>
          </thread>
          <tbody>
            {% for item in bids %}
            <tr>
              <td><img src="{{item.pic}}" height="100px" width="100px"></td>
              <td>{{item.title}}</td>
              <td>{{item.organization}}</td>
              <td>{{item.currentbid}}</td>
              <td><a href="details/{{item.id}}">See More</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <script>
		$( "#submit").click(function(e) {
			var search = $( "#search" ).val();
    		var org1 = $( "#united" ).val();
    		var org2 = $( "#salvation").val();
    		var org3 = $( "#taskforce").val();
    		var org4 = $( "#catholic").val();
    		var org5 = $( "#feeding").val();
    		var org6 = $( "#goodwill").val();
    		var cat = $( "#category" ).val();
    
	$.ajax({
            url: "/browse",
            type: "POST",
            
            data: { searchquery: search, o1: org1, o2: org2, o3: org3, o4: org4, o5: org5, o6: org6, category: cat},
            success: function(data) {
				console.log("The server returned the following data:");
				window.location.href="/browse";
            }
        });
  });
</script>
	</body>
</html>
